body{
    background-image: url(/img1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.letras{
    color: azure;
}


